body {
  margin: 0;
}
.show_window {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.move_wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  transition: top 1s 0.1s linear;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* 顶部入口页 */
.top_entry {
  height: 100vh;
  width: 100%;
  background-color: #bdf0eb;
  overflow: hidden;
  position: relative;
  /* 时间部分 */
}
.top_entry .bg_con {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.top_entry .bg_con .move_bg {
  position: absolute;
  border-radius: 36%;
  width: 80vh;
  height: 80vh;
  transform: translate(-50%, -50%);
}
.top_entry .bg_con .bg1 {
  background-color: #89d9f9;
  animation: bgMoveX 10s 0s linear infinite alternate, bgMoveY 14s 0s linear infinite alternate;
}
.top_entry .bg_con .bg2 {
  background-color: #e2dead;
  animation: bgMoveX 10s -10s linear infinite alternate, bgMoveY 14s -14s linear infinite alternate;
}
.top_entry .bg_con .bg3 {
  animation: bgMoveX 10s -4s linear infinite alternate, bgMoveY 14s -16s linear infinite alternate;
  background-color: #fd95e388;
}
@keyframes bgMoveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes bgMoveY {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
.top_entry .info_con {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff3d;
  backdrop-filter: blur(60px);
}
.top_entry .center {
  width: fit-content;
  margin: auto;
  text-align: center;
  transform: translateY(calc(50vh - 50%));
}
.top_entry .center .title {
  margin: 0;
  letter-spacing: 16px;
  font-size: 14vw;
  color: transparent;
  font-weight: bold;
  background-image: linear-gradient(30deg, #6960e6, #3bdd9a);
  background-clip: text;
  -webkit-background-clip: text;
}
.top_entry .center .time {
  font-size: 7vw;
  color: #328ce6;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 6px;
}
.top_entry .center .date {
  font-size: 4vw;
  color: #529eeb;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 2px;
}
@media screen and (max-width: 600px) {
  .top_entry .center .title {
    font-size: 18vw;
  }
  .top_entry .center .time {
    font-size: 8vw;
  }
  .top_entry .center .data {
    font-size: 6vw;
  }
}
